
.icon-laptop:before { content: '\e800'; } /* '' */
.icon-note-beamed:before { content: '\e801'; } /* '' */
.icon-user-pair:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */